{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block title %}
    <title>Software Development Mentorship</title>
    {% endblock title %}
</head>
<body>
    <header>
        <img id="logo" src="{% static 'images/logo.png' %}" alt="Your Logo">
    </header>
    <div class="other-page-btn">
        <a href="https://chat.whatsapp.com/Eyw9DlIlv0bLjKIysZ0sDe">Join our WhatsApp Group</a>
    </div>
    {% block content %}
    <form method='post' action='#'>
        <h2 style="text-align:center"> Web developers Workshop </h2>
        <p style="text-align: center;"> Are you eager to embark on the journey of becoming an experienced web developer? 
            Join our Free Software Developer Workshop, where you'll have the opportunity to meet 
            seasoned web developers who will guide you through the roadmap to success in the field. </p>
        {% csrf_token %}
        
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
        </div>

        <label for="message">Question:</label>
        <textarea placeholder='Enter a question you want addressed' id="message" name="question" rows="4" required></textarea>

        <button type="submit">Submit</button>
    </form>
    {% endblock content %}

    <!-- Social buttons -->
    <div class="social-buttons">
        <a href="https://www.facebook.com/danntechnologies/" target="_blank" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/dtech_dynamics" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCjd_Xtd2fKRXuxg0_1TMyFw" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
        <a href="https://chat.whatsapp.com/Eyw9DlIlv0bLjKIysZ0sDe" target="_blank" class="social-icon"><i class="fab fa-whatsapp"></i></a>
        <a href="https://www.linkedin.com/company/dtechnologies/" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
        <a href="https://dtechnologys.com/" target="_blank" class="social-icon"><i class="fas fa-globe"></i></a>

        <!-- Add more social buttons as needed -->
    </div>
</body>
</html>
