{% extends "index.html" %}
{% load static %}

    {% block title %}
    <meta name="robots" content="noindex, nofollow">
    <title>Success Page</title>
    {% endblock title %}

    {% block content %}
    <div class="success-container">
        <div class="success-message">
            <p style="text-align: center;">Thank you for your submission! Your form has been successfully submitted.</p>
        </div>

        
        
      
        <div class="other-page-btn">
            <p> Follow us </p>
            
        <a href="https://www.youtube.com/channel/UCjd_Xtd2fKRXuxg0_1TMyFw" target="_blank" class="social-icon"><i class="fab fa-youtube"></i></a>
        
        <a href="https://dtechnologys.com/" target="_blank" class="social-icon"><i class="fas fa-globe"></i></a>
            <!-- Add more social buttons as needed -->
        </div>
        <br>
        <div class="other-page-btn">
            <a href="/">Back Home</a>
        </div>
        
    </div>
    {% endblock content %}

