{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
    <title>Success Page</title>
</head>
<body>
    <header>
        <img id="logo" src="{% static 'images/logo.png' %}" alt="Your Logo">
    </header>

    <div class="success-container">
        <div class="success-message">
            <p>Thank you for your submission! Your form has been successfully submitted.</p>
        </div>

        
        <div class="other-page-btn">
            <a href="https://chat.whatsapp.com/Eyw9DlIlv0bLjKIysZ0sDe">Join our WhatsApp Group</a>
        </div>
    </div>
</body>
</html>
